<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="13706BrendanKowitz.AgilityWallReader" Publisher="CN=56B87845-B375-407D-8A4E-70A2839C3D29" Version="1.1.0.1" />
  <Properties>
    <DisplayName>Agility Wall Reader</DisplayName>
    <PublisherDisplayName>Brendan Kowitz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AgilityWall.WinStore.App">
      <m2:VisualElements DisplayName="Agility Wall Reader" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Agility Wall for Windows Store" ForegroundText="light" BackgroundColor="#007fff">
        <m2:DefaultTile ShortName="Agility Wall Reader">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#007fff" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>